#map {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Hurricane spin animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


